body {
    font-family: Roboto;
}

.top {
    padding-bottom: 48px;
    background: #E0E1E2;
}

.header__img_light {
    display: none;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    justify-content: center;
}

.navbar {
    padding-top: 25px;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 25px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.top__img {
    margin-top: 94px;
    margin-bottom: 67px;
    background-image: url(/img/png/MX-Master_1_mob.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 230px;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.top__text_margin {
    margin-left: 59px;
    margin-right: 59px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.text_margin {
    margin-left: 34px;
    margin-right: 34px;
}

.text_flow {
    margin-bottom: 16px;
    text-align: left;
    width: 222px;
}

.top__arrow {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.top__svg {
    width: 42px;
    height: 22px;
}

.gray {
    background: #EDEDED;
}

.bluetooth {
    padding-top: 42px;
    padding-bottom: 18px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
}

.bluetooth__img {
    height: 288px;
    background-image: url(img/png/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1_mob.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-left: 61px;
    margin-right: 67px;
}

.info__content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    padding-left: 17px;
    padding-right: 17px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__item_heading {
    margin-bottom: 5px;
}

.info__slider {
    margin-bottom: 100px;
}

.info__slider>.carousel-inner>.carousel-item>img:nth-child(2) {
    display: none !important;
}

.info__slider>.carousel-inner>.carousel-item>img:nth-child(3) {
    display: none !important;
}

.info__slider .carousel-indicators {
    bottom: -94px;
    margin: 0;
    padding-left: calc(50% - 123px);
    padding-right: calc(50% - 123px);
    display: flex;
    justify-content: space-between;
}

.info__slider .carousel-indicators [data-bs-target] {
    width: 30.5px;
    height: 30.5px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.info__slider .carousel-indicators [data-bs-slide-to="0"] {
    background-image: url(img/png/wood-texture.png);
}

.info__slider .carousel-indicators [data-bs-slide-to="1"] {
    background-image: url(img/png/glass-texture.png);
}

.info__slider .carousel-indicators [data-bs-slide-to="2"] {
    background-image: url(img/png/linoleum-texture.png);
}

.info__slider .carousel-indicators [data-bs-slide-to="3"] {
    background-image: url(img/png/cloth-texture.png);
}

.info__slider .carousel-indicators [data-bs-slide-to="4"] {
    background-image: url(img/png/marble-texture.png);
}

.info__slider .carousel-control-prev {
    padding-left: calc(50% - 154px);
}

.info__slider .carousel-control-next {
    padding-right: calc(50% - 154px);
}


.info__slider .carousel-control-prev-icon,
.info__slider .carousel-control-next-icon {
    position: absolute;
    bottom: -88px;
    width: 9.15px;
    height: 18.3px;
}

.info__slider .carousel-control-prev-icon {
    background-image: url(/img/svg/arrow-left.svg);
}

.info__slider .carousel-control-next-icon {
    background-image: url(/img/svg/arrow-right.svg);
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    position: relative;
    bottom: 70px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 219px;
    background-image: url(img/png/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1_mob.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.flow__ol {
    margin-top: 36px;
    padding-left: 54px;
}

.settings {
    padding-top: 70px;

}

.settings__slider-img {
    display: none;
}

.settings__slider {
    margin: 35px 22px 95px 23px;
    height: 404px;
}

.settings__slider .carousel-item .w-100 {
    width: auto !important;
    margin: auto;
}

.settings__slider>.carousel-inner>.carousel-item>img:nth-child(2) {
    display: none !important;
}

.settings__slider .carousel-indicators {
    position: absolute;
    bottom: -50px;
    margin: auto;
    width: 165px;
    display: flex;
    justify-content: space-between;
}

.settings__slider .carousel-indicators [data-bs-target] {
    height: 15px;
    border: none;
    background-size: contain;
    background-image: url(img/svg/Ellipse\ 12.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-clip: unset;
    margin: 0;
}

.settings__content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.settings__text {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 11px;
}

.mouse__text {
    margin-top: 70px;
    margin-bottom: 20px;
}

.mouse__img {
    height: 310px;
    background-position: center;
    background-repeat: no-repeat;
}

.mouse__img_1 {
    background-image: url(img/png/image\ 1_mob.png);
}

.mouse__img_2 {
    background-image: url(img/png/image\ 2_mob.png);
}

footer {
    background: #2F3132;
    height: 75px;
    padding-top: 22px;

    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
}

@media (min-width: 768px) {
    .top {
        padding-bottom: 80px;
    }

    .navbar {
        padding-top: 54px;
    }

    .header__img {
        width: 240px;
    }

    .top__img {
        background-image: url(/img/png/MX-Master_1_tab.png);
        margin-top: 160px;
        margin-bottom: 124px;
        height: 514px;
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .top__text_margin {
        margin-left: 154px;
        margin-right: 155px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
    }

    .text_margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .top__arrow {
        margin-top: 70px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 3px;
    }

    .bluetooth__heading {
        font-size: 150px;
        line-height: 176px;
        margin-top: 76px;
    }

    .bluetooth__img {
        background-image: url(img/png/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1_tab.png);
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;
    }

    .info {
        padding-bottom: 61px;
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .info__item {
        min-height: 170px;
    }

    .info__item_heading {
        margin-bottom: 5px;
    }

    .info__heading {
        font-size: 24px;
        line-height: 28px;
        bottom: 80px;
    }

    .info__slider {
        margin-bottom: 125px;
    }

    .info__slider>.carousel-inner>.carousel-item>img:nth-child(1) {
        display: none !important;
    }

    .info__slider>.carousel-inner>.carousel-item>img:nth-child(2) {
        display: block !important;
    }

    .info__slider>.carousel-inner>.carousel-item>img:nth-child(3) {
        display: none !important;
    }

    .info__slider .carousel-control-prev {
        padding-left: calc(50% - 202px);
    }

    .info__slider .carousel-control-next {
        padding-right: calc(50% - 202px);
    }

    .info__slider .carousel-control-prev-icon,
    .info__slider .carousel-control-next-icon {
        bottom: -137px;
        width: 12px;
        height: 24px;
    }

    .info__slider .carousel-indicators {
        bottom: -146px;
        padding-left: calc(50% - 160px);
        padding-right: calc(50% - 160px);
        margin: 0;
    }

    .info__slider .carousel-indicators [data-bs-target] {
        width: 40px;
        height: 40px;
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
        background-image: url(img/png/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1_tab.png);
    }

    .text_flow-p {
        margin-left: 0;
        margin-right: 0;
    }

    .flow__ol {
        display: flex;
        list-style-position: inside;
        padding-left: 0;
    }

    .text_flow {
        width: auto;
        padding: 8px 21px 4px 28px;
        border-left: 1px solid #494949;
    }

    .text_flow:first-child {
        border-left: none;
        padding-left: 0;
    }

    .text_flow:last-child {
        padding-right: 0;
    }

    .settings {
        padding-bottom: 70px;
    }

    .heading-settings {
        margin-left: 215px;
        margin-right: 215px;
    }

    .text_settings {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings__slider {
        height: 610px;
        margin: 54px 198px 147px;
    }

    .settings__slider .carousel-item .w-100 {
        width: 100%!important;
    }
    

    .settings__slider>.carousel-inner>.carousel-item>img:nth-child(1) {
        display: none !important;
    }

    .settings__slider>.carousel-inner>.carousel-item>img:nth-child(2) {
        display: block !important;
    }

    .settings__slider .carousel-indicators {
        width: 275px;
    }

    .settings__slider .carousel-indicators [data-bs-target] {
        height: 25px;
    }

    .settings__content {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings__icons {
        margin-left: 98px;
        margin-right: 104px;
        margin-bottom: 25px;

    }

    .settings__img {
        height: 35px;

    }

    .settings__text {
        font-size: 20px;
        line-height: 23px;
    }

    .text_mouse {
        margin-left: 0;
        margin-right: 0;
        font-size: 24px;
        line-height: 28px;
    }

    .mouse__text {
        padding-left: 67px;
        padding-right: 64px;
        padding-bottom: 50px;
    }

    .mouse__img {
        height: 549px;
    }

    .mouse__img_1 {
        background-image: url(img/png/image\ 1_tab.png);
    }

    .mouse__img_2 {
        background-image: url(img/png/image\ 2_tab.png);
    }

    footer {
        font-size: 14px;
        line-height: 16px;
        height: 150px;
        padding-top: 37px;
    }
}

@media (min-width: 1024px) {
    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .header__img_dark {
        display: none;
    }

    .header__img_light {
        display: block;
        width: 150px;
    }

    .header {
        background: #2F3132;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;
    }


    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .menu-desktop {
        padding-left: 147px;
    }

    .nav-item {
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid #494949;
    }

    .nav-item:first-child {
        padding-left: 0;
    }

    .nav-item:last-child {
        padding-right: 0;
        border: none;
    }

    .top__img {
        background-image: url(/img/png/MX-Master_1.png);
        margin-top: 20px;
        height: 671px;
        padding-top: 80px;
        margin-bottom: 8px;
    }

    .top__arrow {
        margin-top: 49px;
    }

    .bluetooth {
        padding-bottom: 80px;
    }

    .bluetooth__img {
        height: 427px;
        background: url(img/png/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 119px,
            url(img/png/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png) no-repeat right 119px;
        margin-left: 0;
        margin-right: 0;
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bluetooth__heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }

    .bluetooth__heading_day {
        font-size: 300px;
        line-height: 352px;
        padding-left: 73px;
    }

    .bluetooth__heading_day_mini {
        padding-top: 45px;
    }

    .info {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info__text,
    .info__text2 {
        width: 765px;
        margin: auto;
    }

    .info__item {
        min-height: 140px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .info__item_heading {
        margin-bottom: 5px;
    }

    .info__slider {
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
        margin-bottom: 130px;
    }

    .info__slider>.carousel-inner>.carousel-item>img:nth-child(1) {
        display: none !important;
    }

    .info__slider>.carousel-inner>.carousel-item>img:nth-child(2) {
        display: none !important;
    }

    .info__slider>.carousel-inner>.carousel-item>img:nth-child(3) {
        display: block !important;
    }

    .info__slider .carousel-indicators {
        bottom: -130px;
    }

    .info__slider .carousel-control-prev-icon,
    .info__slider .carousel-control-next-icon {
        bottom: -120px;
    }

    .info__heading {
        font-size: 20px;
        line-height: 23px;
    }

    .flow {
        padding-bottom: 870px;
        background-image: url(img/png/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1\ desktop.png);
    }

    .flow_center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .flow__ol {
        margin-left: 15px;
        ;
    }

    .settings__slider {
        display: none;
    }

    .text_settings {
        width: 968px;
        margin: auto;
    }

    .settings__slider-img {
        display: flex;
        justify-content: center;
        margin-top: 71px;
    }

    .settings__content {
        width: 749px;
        margin: auto;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse_center {
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);
    }

    .mouse__item {
        height: 557px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mouse__text {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .mouse__text_1 {
        padding-right: 217px;
        order: 1;
    }

    .mouse__text_1 .heading,
    .mouse__text_1 .text {
        text-align: left;
    }

    .mouse__text_2 {
        padding-left: 217px;
        order: 2;
    }

    .mouse__text_2 .heading,
    .mouse__text_2 .text {
        text-align: right;
    }

    .mouse__img_1 {
        order: 0;
        background-image: url(img/png/image\ 1_desktop.png);
    }

    .mouse__img_2 {
        order: 3;
        background-image: url(img/png/image\ 2_desktop.png);
    }

}